@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

/* General */

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 0;
    margin: 0;
}

/* Heading */

    #heading h1 {
        font-family: "Arima", sans-serif;
        font-weight: 300;
        font-size: 3.3em;
        color: rgb(87, 110, 61);
        text-align: center;
    }

/* Game */

/* Footer */

