@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

body {
    padding: 0;
    margin: 0;
    font-family:"Work Sans", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding: 0;
    margin: 0;
}

/* Heading */

    #heading h1 {
        font-family: "Arima", sans-serif;
        font-weight: 300;
        font-size: 3.3em;
        color: rgb(87, 110, 61);
        text-align: center;
        letter-spacing: 3px;
    }

    /* Game */

    .game-section {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../images/background-3.png');
        background-size: cover;
        background-position: center;
    }

    .game-container {
        background-color: rgb(255, 255, 255, 0.8);
        padding: 20px;
        margin: 10px;
        border-radius: 15px;
        text-align: center;
        max-width: 700px;
        width: 100%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    }

    #question {
        font-size: 2em;
        font-weight: 300;
        margin-bottom: 20px;
        color: rgb(87, 110, 61);
    }

    #answers {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .answer-button {
        padding: 15px;
        font-size: 1.2em;
        border: none;
        background-color: #8cb37d;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        color: white;
        cursor: pointer;
    }

    .answer-button:hover {
        background-color: #b9eca5;
    }

    .answer-button:active {
        background-color: #65815a;
    }

    #next-question {
        padding: 15px;
        margin: 20px;
        background:#e4eee1;
        color: #33462c;
        border: none;
        font-weight: 300;
        width: 160px;
        font-size: 1em;
        cursor: pointer;
        float: right;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }

    /* Footer */

